<div id="<%= dom_id tender_equipment_summary %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Tender:</strong>
    <%= tender_equipment_summary.tender_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Equipment subtotal:</strong>
    <%= tender_equipment_summary.equipment_subtotal %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mobilization fee:</strong>
    <%= tender_equipment_summary.mobilization_fee %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total equipment cost:</strong>
    <%= tender_equipment_summary.total_equipment_cost %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rate per tonne raw:</strong>
    <%= tender_equipment_summary.rate_per_tonne_raw %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rate per tonne rounded:</strong>
    <%= tender_equipment_summary.rate_per_tonne_rounded %>
  </div>
</div>
