<div id="<%= dom_id line_item_material_template %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Section category template:</strong>
    <%= line_item_material_template.section_category_template_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Material supply:</strong>
    <%= line_item_material_template.material_supply_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Proportion percentage:</strong>
    <%= line_item_material_template.proportion_percentage %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Waste percentage:</strong>
    <%= line_item_material_template.waste_percentage %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sort order:</strong>
    <%= line_item_material_template.sort_order %>
  </div>
</div>
