<%= form_with(model: on_site_mobile_crane_breakdown, class: "contents") do |form| %>
  <% if on_site_mobile_crane_breakdown.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(on_site_mobile_crane_breakdown.errors.count, "error") %> prohibited this on_site_mobile_crane_breakdown from being saved:</h2>

      <ul class="list-disc ml-6">
        <% on_site_mobile_crane_breakdown.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :tender_id %>
    <%= form.text_field :tender_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": on_site_mobile_crane_breakdown.errors[:tender_id].none?, "border-red-400 focus:outline-red-600": on_site_mobile_crane_breakdown.errors[:tender_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :total_roof_area_sqm %>
    <%= form.text_field :total_roof_area_sqm, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": on_site_mobile_crane_breakdown.errors[:total_roof_area_sqm].none?, "border-red-400 focus:outline-red-600": on_site_mobile_crane_breakdown.errors[:total_roof_area_sqm].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :erection_rate_sqm_per_day %>
    <%= form.text_field :erection_rate_sqm_per_day, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": on_site_mobile_crane_breakdown.errors[:erection_rate_sqm_per_day].none?, "border-red-400 focus:outline-red-600": on_site_mobile_crane_breakdown.errors[:erection_rate_sqm_per_day].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :program_duration_days %>
    <%= form.number_field :program_duration_days, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": on_site_mobile_crane_breakdown.errors[:program_duration_days].none?, "border-red-400 focus:outline-red-600": on_site_mobile_crane_breakdown.errors[:program_duration_days].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :ownership_type %>
    <%= form.text_field :ownership_type, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": on_site_mobile_crane_breakdown.errors[:ownership_type].none?, "border-red-400 focus:outline-red-600": on_site_mobile_crane_breakdown.errors[:ownership_type].any?}] %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.label :splicing_crane_required %>
    <%= form.check_box :splicing_crane_required, class: ["block shadow-sm rounded-md border order-first h-5 w-5", {"border-gray-400 focus:outline-blue-600": on_site_mobile_crane_breakdown.errors[:splicing_crane_required].none?, "border-red-400 focus:outline-red-600": on_site_mobile_crane_breakdown.errors[:splicing_crane_required].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :splicing_crane_size %>
    <%= form.text_field :splicing_crane_size, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": on_site_mobile_crane_breakdown.errors[:splicing_crane_size].none?, "border-red-400 focus:outline-red-600": on_site_mobile_crane_breakdown.errors[:splicing_crane_size].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :splicing_crane_days %>
    <%= form.number_field :splicing_crane_days, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": on_site_mobile_crane_breakdown.errors[:splicing_crane_days].none?, "border-red-400 focus:outline-red-600": on_site_mobile_crane_breakdown.errors[:splicing_crane_days].any?}] %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.label :misc_crane_required %>
    <%= form.check_box :misc_crane_required, class: ["block shadow-sm rounded-md border order-first h-5 w-5", {"border-gray-400 focus:outline-blue-600": on_site_mobile_crane_breakdown.errors[:misc_crane_required].none?, "border-red-400 focus:outline-red-600": on_site_mobile_crane_breakdown.errors[:misc_crane_required].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :misc_crane_size %>
    <%= form.text_field :misc_crane_size, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": on_site_mobile_crane_breakdown.errors[:misc_crane_size].none?, "border-red-400 focus:outline-red-600": on_site_mobile_crane_breakdown.errors[:misc_crane_size].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :misc_crane_days %>
    <%= form.number_field :misc_crane_days, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": on_site_mobile_crane_breakdown.errors[:misc_crane_days].none?, "border-red-400 focus:outline-red-600": on_site_mobile_crane_breakdown.errors[:misc_crane_days].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
