<% if @tender_crane_selection.persisted? %>
  <% if @on_site_mobile_crane_breakdown.present? %>
    <%= turbo_stream.replace "tender_crane_selections" do %>
      <%= render 'tender_crane_selections/index', 
          tender_crane_selections: @on_site_mobile_crane_breakdown.tender_crane_selections,
          on_site_mobile_crane_breakdown: @on_site_mobile_crane_breakdown %>
    <% end %>

    <%= turbo_stream.update "crane_cost_summary" do %>
      <%= render 'tender_crane_selections/summary', on_site_mobile_crane_breakdown: @on_site_mobile_crane_breakdown %>
    <% end %>
  <% else %>
    <%= turbo_stream.append "tender_crane_selections" do %>
      <div class="w-full">
        <%= render @tender_crane_selection %>
      </div>
    <% end %>
  <% end %>
<% end %>
