<%= form_with(model: line_item_material, class: "contents") do |form| %>
  <% if line_item_material.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(line_item_material.errors.count, "error") %> prohibited this line_item_material from being saved:</h2>

      <ul class="list-disc ml-6">
        <% line_item_material.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if line_item_material.tender_line_item_id.present? || params[:tender_line_item_id].present? %>
    <%= form.hidden_field :tender_line_item_id, value: line_item_material.tender_line_item_id.presence || params[:tender_line_item_id] %>
  <% else %>
    <div class="my-5">
      <%= form.label :tender_line_item_id %>
      <%= form.collection_select :tender_line_item_id, TenderLineItem.all, :id, :item_description, { prompt: "Select a tender line item" }, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": line_item_material.errors[:tender_line_item_id].none?, "border-red-400 focus:outline-red-600": line_item_material.errors[:tender_line_item_id].any?}] %>
    </div>
  <% end %>

  <% if line_item_material.line_item_material_breakdown_id.present? || params[:line_item_material_breakdown_id].present? %>
    <%= form.hidden_field :line_item_material_breakdown_id, value: line_item_material.line_item_material_breakdown_id.presence || params[:line_item_material_breakdown_id] %>
  <% end %>

  <div class="my-5">
    <%= form.label :material_supply_id %>
    <%= form.collection_select :material_supply_id, MaterialSupply.all, :id, :name, { prompt: "Select a material supply" }, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": line_item_material.errors[:material_supply_id].none?, "border-red-400 focus:outline-red-600": line_item_material.errors[:material_supply_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :proportion %>
    <p class="text-sm text-gray-600 mt-1 mb-2">Enter as decimal (e.g., 0.25 for 25%, 0.80 for 80%, 1.0 for 100%)</p>
    <%= form.text_field :proportion, placeholder: "0.00", class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": line_item_material.errors[:proportion].none?, "border-red-400 focus:outline-red-600": line_item_material.errors[:proportion].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
