<div class="navbar bg-base-100 shadow-sm px-4 lg:px-8">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <i class="fas fa-bars"></i>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><%= link_to "Home", root_path %></li>
        <li>
          <a>Resources</a>
          <ul class="p-2">
            <li><%= link_to "Mastering Estimates", static_page_path(slug: "the-hidden-cost-of-your-excel-estimator-scaling-new-home-construction-in-2025") %></li>
            <li><%= link_to "Estimator Guide", static_page_path(slug: "home-construction-estimator") %></li>
            <li><%= link_to "Free Estimating Software", static_page_path(slug: "free-construction-cost-estimating-software") %></li>
          </ul>
        </li>
      </ul>
    </div>
    <%= link_to root_path, class: "btn btn-ghost text-xl font-bold gap-2" do %>
      <i class="fas fa-rocket text-llama-blue"></i>
      <span>Beam AI</span>
    <% end %>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "Home", root_path %></li>
      <li>
        <details>
          <summary>Resources</summary>
          <ul class="p-2 bg-base-100 rounded-t-none w-64 z-[1]">
            <li><%= link_to "Mastering Estimates", static_page_path(slug: "the-hidden-cost-of-your-excel-estimator-scaling-new-home-construction-in-2025") %></li>
            <li><%= link_to "Estimator Guide", static_page_path(slug: "home-construction-estimator") %></li>
            <li><%= link_to "Free Estimating Software", static_page_path(slug: "free-construction-cost-estimating-software") %></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <% if user_signed_in? %>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full bg-llama-purple text-white flex items-center justify-center">
            <span><%= current_user.email.first.upcase %></span>
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <% if current_user.respond_to?(:admin?) && current_user.admin? %>
            <li><%= link_to "Admin", admin_root_path %></li>
          <% end %>
          <li><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "text-error" %></li>
        </ul>
      </div>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-ghost" %>
      <%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
