<div class="navbar <%= content_for?(:navbar_class) ? yield(:navbar_class) : 'bg-base-100 shadow-sm' %> px-4 lg:px-8">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden <%= content_for?(:navbar_text_class) ? yield(:navbar_text_class) : '' %>">
        <i class="fas fa-bars"></i>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 text-base-content">
        <li><%= link_to "Home", root_path %></li>
        <li>
          <a>Resources</a>
          <ul class="p-2">
            <li><%= link_to "Material Estimation 2025", static_page_path(slug: "rethinking-material-estimation-for-construction-beyond-spreadsheets-in-2025") %></li>
            <li><%= link_to "Mastering Estimates", static_page_path(slug: "the-hidden-cost-of-your-excel-estimator-scaling-new-home-construction-in-2025") %></li>
            <li><%= link_to "All Insights", static_page_path(slug: "blog") %></li>
          </ul>
        </li>
      </ul>
    </div>
    <%= link_to root_path, class: "flex items-center gap-3 font-black text-2xl tracking-tight #{content_for?(:navbar_text_class) ? yield(:navbar_text_class) : 'text-brand-purple'}" do %>
      <img src="<%= content_for?(:navbar_logo) ? yield(:navbar_logo) : 'https://llamapress-ai-image-uploads.s3.us-west-2.amazonaws.com/rz0iwirzz2cwnkd3eoe1uplmzvad' %>" alt="Steel Estimating AI" class="h-10 w-10">
      <span>Steel Estimating AI</span>
    <% end %>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 font-medium <%= content_for?(:navbar_text_class) ? yield(:navbar_text_class) : '' %>">
      <li><%= link_to "Home", root_path %></li>
      <li>
        <details>
          <summary>Resources</summary>
          <ul class="p-2 bg-base-100 rounded-box shadow-xl border border-base-200 w-64 z-[1] text-base-content">
            <li><%= link_to "Material Estimation 2025", static_page_path(slug: "rethinking-material-estimation-for-construction-beyond-spreadsheets-in-2025") %></li>
            <li><%= link_to "Mastering Estimates", static_page_path(slug: "the-hidden-cost-of-your-excel-estimator-scaling-new-home-construction-in-2025") %></li>
            <li><%= link_to "All Insights", static_page_path(slug: "blog") %></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <% if user_signed_in? %>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 h-10 rounded-full bg-brand-purple text-white flex items-center justify-center font-bold">
            <span><%= current_user.email.first.upcase %></span>
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow-2xl bg-base-100 rounded-box w-52 border border-base-200 text-base-content">
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <% if current_user.respond_to?(:admin?) && current_user.admin? %>
            <li><%= link_to "Admin", admin_root_path %></li>
          <% end %>
          <li class="border-t border-base-200 mt-2 pt-2">
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "text-error w-full text-left" %>
          </li>
        </ul>
      </div>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-ghost font-bold #{content_for?(:navbar_text_class) ? yield(:navbar_text_class) : ''}" %>
      <%= link_to "Get Started", new_user_registration_path, class: "btn #{content_for?(:navbar_button_class) ? yield(:navbar_button_class) : 'btn-brand'}" %>
    <% end %>
  </div>
</div>
