<div id="<%= dom_id tender_equipment_selection %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Tender:</strong>
    <%= tender_equipment_selection.tender_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Equipment type:</strong>
    <%= tender_equipment_selection.equipment_type_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Units required:</strong>
    <%= tender_equipment_selection.units_required %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Period months:</strong>
    <%= tender_equipment_selection.period_months %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Purpose:</strong>
    <%= tender_equipment_selection.purpose %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Monthly cost override:</strong>
    <%= tender_equipment_selection.monthly_cost_override %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Calculated monthly cost:</strong>
    <%= tender_equipment_selection.calculated_monthly_cost %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total cost:</strong>
    <%= tender_equipment_selection.total_cost %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sort order:</strong>
    <%= tender_equipment_selection.sort_order %>
  </div>
</div>
