<div id="<%= dom_id line_item_rate_build_up %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Tender line item:</strong>
    <%= line_item_rate_build_up.tender_line_item_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Material supply rate:</strong>
    <%= line_item_rate_build_up.material_supply_rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fabrication rate:</strong>
    <%= line_item_rate_build_up.fabrication_rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fabrication included:</strong>
    <%= line_item_rate_build_up.fabrication_included? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Overheads rate:</strong>
    <%= line_item_rate_build_up.overheads_rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Overheads included:</strong>
    <%= line_item_rate_build_up.overheads_included? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Shop priming rate:</strong>
    <%= line_item_rate_build_up.shop_priming_rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Shop priming included:</strong>
    <%= line_item_rate_build_up.shop_priming_included? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Onsite painting rate:</strong>
    <%= line_item_rate_build_up.onsite_painting_rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Onsite painting included:</strong>
    <%= line_item_rate_build_up.onsite_painting_included? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Delivery rate:</strong>
    <%= line_item_rate_build_up.delivery_rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Delivery included:</strong>
    <%= line_item_rate_build_up.delivery_included? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Bolts rate:</strong>
    <%= line_item_rate_build_up.bolts_rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Bolts included:</strong>
    <%= line_item_rate_build_up.bolts_included? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Erection rate:</strong>
    <%= line_item_rate_build_up.erection_rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Erection included:</strong>
    <%= line_item_rate_build_up.erection_included? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Crainage rate:</strong>
    <%= line_item_rate_build_up.crainage_rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Crainage included:</strong>
    <%= line_item_rate_build_up.crainage_included? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cherry picker rate:</strong>
    <%= line_item_rate_build_up.cherry_picker_rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cherry picker included:</strong>
    <%= line_item_rate_build_up.cherry_picker_included? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Galvanizing rate:</strong>
    <%= line_item_rate_build_up.galvanizing_rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Galvanizing included:</strong>
    <%= line_item_rate_build_up.galvanizing_included? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Subtotal:</strong>
    <%= line_item_rate_build_up.subtotal %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Margin amount:</strong>
    <%= line_item_rate_build_up.margin_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total before rounding:</strong>
    <%= line_item_rate_build_up.total_before_rounding %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rounded rate:</strong>
    <%= line_item_rate_build_up.rounded_rate %>
  </div>
</div>
